@font-face {
  font-family: alegra;
  src: url("./assets/Alegra-Regular.otf") format("opentype");
}
body {
  margin: 0;
}
:root {
  --primary: #e7272d;
}
html {
  scroll-behavior: smooth;
}

.flex-x {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}

.flex-x-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-y {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body > div {
  padding: 0 7vw;
}
#home {
  background: #fbbe36;
  font-family: alegra;

  font-size: 30px;
  color: white;
  font-weight: bold;
  min-height: 100vh;
}

#app-header {
  background: #fbbe36;
  font-family: alegra;
  font-size: 30px;
  color: white;
  z-index: 100;
  font-weight: bold;

  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: calc(100% - 14vw);
}
.nav {
}
ol {
  padding-left: 10px !important;
}
.nav-item {
  padding-left: 40px;
  cursor: pointer;
  transition: All 0.2s linear;
}
.nav-item:hover {
  color: #595959;
}
.active {
  color: var(--primary);
}
.home-body {
  padding-top: 250px;
  padding-bottom: 50px;
}
.home-title {
}
#home {
  background-image: url("./assets/Noodles\ Image@2x.png");
  background-repeat: round;
  background-blend-mode: multiply;
}
.home-title > div:first-child {
  color: var(--primary);
  justify-content: flex-start;
  margin-bottom: 30px;
  letter-spacing: 2px;

  font-weight: 600;
}
.home-title > div:first-child > span {
  display: block;
  width: 100px;
  height: 3px;
  background: var(--primary);
  margin: 0 20px;
}
.home-title > div:nth-child(2) {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 10px;
}
.home-title > div:nth-child(3) {
  justify-content: flex-start;
  margin-top: 40px;
}
.login img {
  width: 60px;
  margin-right: 20px;
}
button {
  outline: none;
  padding: 10px 40px;
  margin: 0 20px;
  background: var(--primary);
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  font-family: alegra;
  font-size: 1.5rem;
  transition: All 0.2s linear;

  cursor: pointer;
}
button:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
button img {
  height: 20px;
}
button span {
  margin-left: 10px;
  color: white;
  margin-top: 4px;
}
#tokenomics {
  margin-top: 7vw;
}

.tokenomics-title {
  color: #fbbe36;
  /* margin-left: 10%; */
  margin-bottom: 3vw;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
  font-family: alegra;
  position: relative;
}
.tokenomics-title > span {
  width: 45px;
  background: var(--primary);
  height: 1.5px;
  position: absolute;
  left: 196px;
  top: 5px;
}

.tokenomics-ico {
  padding: 5rem;
}
.tokenomics-blocks {
  display: flex;
  flex-wrap: wrap;
  font-family: "Alegreya Sans", sans-serif;
  margin-left: 10%;
}
.tokenomics-block {
  width: calc(33% - 40px);
  margin: 40px 20px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  border-left: 3px solid var(--primary);

  font-size: 1.3rem;
}
.tokenomics-block > div:first-child {
  color: #595959;
  font-weight: 500;
  opacity: 0.3;
  padding-left: 20px;
}
.tokenomics-block > div:nth-child(2) {
  color: #fbbe36;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 20px;
}
#features {
  /* display: flex; */
  font-family: "Alegreya Sans", sans-serif;
  padding: 7vw 0;
  align-items: center;
}
.features-title {
  color: #fbbe36;
  margin-left: 10%;
  margin-bottom: 3vw;
  font-weight: bold;

  font-size: 4rem;
  font-family: alegra;
  position: relative;
}
.features-title > span {
  width: 90px;
  background: var(--primary);
  height: 1.5px;
  position: absolute;
  left: 90px;
  top: 5px;
}
.features-blocks {
  margin-left: 10%;
}
.features-block {
  background: #fcf6d1;
  border-radius: 20px;
  height: 160px;
  width: 160px;
  margin: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.features-block > div:nth-child(2) {
  color: #595959;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 700;
  margin-bottom: 10px;
}

.features-block img {
  width: 25px;
  margin: 10px;
}
.features-block > div:nth-child(3) {
  color: #595959;
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 700;
}
#roadmap {
  background: #e13a40;
  font-family: "Alegreya Sans", sans-serif;
  padding: 7vw 0;
  margin-top: 7vw;
}
.roadmap-title {
  color: #fbbe36;
  margin-left: 10%;
  margin-bottom: 3vw;
  font-weight: bold;

  font-size: 4rem;
  font-family: alegra;
  position: relative;
}
.roadmap-title > span {
  width: 60px;
  background: white;
  height: 1.5px;
  position: absolute;
  left: 26px;
  top: 5px;
}
.roadmap-blocks {
  margin-left: 10%;
}
.roadmap-block {
  width: 33%;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}
.roadmap-heading {
  color: #fbbe36;
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 18px;
}
.roadmap-block > div {
  padding-top: 10px;
}
#footer {
  background: #e13a40;
  font-family: "Alegreya Sans", sans-serif;
  padding: 2vw 0;
  padding-bottom: 3vw;
  color: white;
}
.footer > div:first-child {
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: bold;
}
.footer > div:nth-child(3) {
  font-weight: 500;
  font-size: 2.2rem;
  font-family: alegra;
  margin-top: 10px;
  font-weight: bold;
}
.footer > div:nth-child(2) img {
  width: 20px;
  margin: 10px;
}
#faq {
  background: #e13a40;
  padding: 7vw 0;
  font-family: "Alegreya Sans", sans-serif;
}

.faq-block .answer {
  display: none;
  font-size: 0.8rem;
}
.faq-block .question {
  font-size: 1.2rem;
}
.faq-blocks {
  margin-left: 10%;
  width: 50%;
}

.faq-block {
  transition: all 0.2s linear;
  padding: 10px 20px;
  box-shadow: inset 0px 3px 6px #00000042;
  background-color: #fbbe36;
  color: white;
  cursor: pointer;
  margin: 20px 0;
}
.faq-block img {
  width: 15px;
  transition: all 0.2s linear;
  transform: rotate(-90deg);
}

.faq-block.opened .answer {
  display: block;
}
.faq-block.opened img {
  transform: rotate(0deg);
}

.faq-title {
  color: #fbbe36;
  margin-left: 10%;
  margin-bottom: 3vw;
  font-weight: bold;

  font-size: 4rem;
  font-family: alegra;
  line-height: 1.3;

  position: relative;
}
.faq-title > span {
  width: 90px;
  background: white;
  height: 1.5px;
  display: inline-block;

  /* position: absolute; */
  left: 26px;
  top: 5px;
}
